<div class="container">

    <div class="card shadow mb-4">
    
    <div class="card-body">
    <table  class="   table table-stripped " >    
        <tr> <th>Id</th>
            <th>Marqueavion</th> 
            <th>Prix</th>
            <th>Date Création</th> 
            <th> prixAvion </th>
            <th> constructeur</th>
    
    <thead>
    
    <tr>
    
    <th>Liste des avions</th>
    
    </tr>
    
    </thead>
    
    <tbody *ngFor="let avions of avions">
    
    <tr >
    
    <td>{{avions}}</td>
    
    </tr>
    
    </tbody>
    
    </table>
    
    </div>
    
    </div>
    
    </div>
